<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>834287936266-621n4gsrpa1qr1m68f7k4u5nkid79ou7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834287936266-621n4gsrpa1qr1m68f7k4u5nkid79ou7</string>
	<key>API_KEY</key>
	<string>AIzaSyCrqEmluj0HnqQS7PuZVmPKYvMHkAofG6s</string>
	<key>GCM_SENDER_ID</key>
	<string>834287936266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>g.ChocolateShop</string>
	<key>PROJECT_ID</key>
	<string>chocolateshop-5a219</string>
	<key>STORAGE_BUCKET</key>
	<string>chocolateshop-5a219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:834287936266:ios:86de04caa8214f9c</string>
	<key>DATABASE_URL</key>
	<string>https://chocolateshop-5a219.firebaseio.com</string>
</dict>
</plist>